
CardDeck/Library/
CardDeck/Logs
CardDeck/Packages
CardDeck/ProjectSettings
CardDeck/UserSettings
CardDeck/.vscode

CardGame/Library/
CardGame/Logs
CardGame/Packages
CardGame/ProjectSettings
CardGame/UserSettings
CardGame/.vscode

CardList/Library/
CardList/Logs
CardList/Packages
CardList/ProjectSettings
CardList/UserSettings
CardList/.vscode

Cartas/Library/
Cartas/Logs
Cartas/Packages
Cartas/ProjectSettings
Cartas/UserSettings
Cartas/.vscode

ODS16/Library/
ODS16/Logs
ODS16/Packages
ODS16/ProjectSettings
ODS16/UserSettings
ODS16/.vscode
